<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TFGs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TFGs</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aquí colocamos la ion-card con datos de ejemplo -->
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>TFG TITUTLO</ion-card-title>
      <ion-card-subtitle>Profesor del TFG</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Pequeña descripcion de nuestro TFG
    </ion-card-content>
  </ion-card>

    <!-- Aquí colocamos la ion-card con datos de ejemplo -->
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>TFG 2</ion-card-title>
        <ion-card-subtitle>Profesor del TFG</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        Pequeña descripcion de nuestro TFG
      </ion-card-content>
    </ion-card>
  
      <!-- Aquí colocamos la ion-card con datos de ejemplo -->
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>TFG 3 EJEMPLO</ion-card-title>
      <ion-card-subtitle>Profesor del TFG</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Pequeña descripcion de nuestro TFG
    </ion-card-content>
  </ion-card>


<!--AQUI SE PUEDE USAR PARA CARGAR LAS ION CARD -->
  <!-- Este es el contenedor de ejemplo donde podrías cargar múltiples TFGs -->
  <!--app-explore-container name="TFGs"></app-explore-container-->
</ion-content>
