<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vistaNotificacion</ion-title>
    <ion-buttons slot="end">
      <!-- Botón de cierre (X) -->
      <ion-button [routerLink]="['/tabs/tab2']" style="margin-right: 10px;" fill="clear">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vistaNotificacion</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>