<ion-header [translucent]="true" class="transparent-header">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
    <div class="profile-header-container">
      <!-- Imagen del perfil dentro del toolbar -->
      <div class="profile-image">
        <img src="https://i.pravatar.cc/150?img=3" alt="User Avatar" />
      </div>

      <!-- Nombre y descripción dentro del toolbar -->
      <div class="profile-info">
        <h2>Juan Pérez</h2>
        <p>Profesor de Física</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Estadísticas del usuario -->
  <div class="profile-stats">
    <ion-row>
      <ion-col>
        <div class="stat">
          <h3>15</h3>
          <p>Comentarios</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="stat">
          <h3>8</h3>
          <p>TFGs</p>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <!-- Botones de acciones -->
  <div class="profile-actions">
    <ion-button expand="block" class="botonAceptar" fill="none">Editar Perfil</ion-button>
    <ion-button expand="block" class="botonDenegar" fill="outline">Cerrar Sesión</ion-button>
  </div>
</ion-content>
