<ion-content class="ion-padding login-background">
  <div class="login-container">
    <h1>Bienvenido</h1>
    <ion-input
      class="custom-input"
      placeholder="Usuario"
      type="text"
    ></ion-input>
    <ion-input
      class="custom-input"
      placeholder="Contraseña"
      type="password"
    ></ion-input>

    <ion-button class="custom-button" expand="full" (click)="iniciarSesion()">Iniciar Sesión</ion-button> <!-- Asegúrate de que esté bien conectado -->

  </div>
</ion-content>
